@import "tailwindcss";

:root {
  --background: #CED0D3;
  --foreground: #171717;
}
::-webkit-scrollbar {
  width: 0px;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.profile-card {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 420px;
  background: #f2f2f2;
  overflow: hidden;
}

/* LEFT IMAGE SIDE */
.image-side {
  width: 55%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
