.hero{
    background-color: var(--background);
    min-height: 100vh;
}
.inverted-box {
  width: 100%;
  height: 95vh;
  background: black;

  clip-path: polygon(
    0 0,        /* top-left */
    100% 0,     /* top-right */
    100% 95%,   /* right-bottom (higher) */
    0 100%     /* left-bottom */
  );

}


