.card1{
  width: 25vw;
  height: 60vh;
  background: transparent;

}
.card2{
  width: 15vw;
  height: 50vh;
  background: transparent;

  clip-path: polygon(
    0 0,        /* top-left */
    100% 0,     /* top-right */
    100% 100%,   /* right-bottom  */
    70% 100%     /* left-bottom */
  );
  
}
.card3{
  width: 10vw;
  height: 40vh;
  background: transparent;

  clip-path: polygon(
    30% 0,        /* top-left */
    100% 0,     /* top-right */
    100% 100%,   /* right-bottom  */
    0 100%     /* left-bottom */
  );
  
}
.card4{
  width: 15vw;
  height: 40vh;
  background: transparent;

  clip-path: polygon(
    0 0,        /* top-left */
    70% 0,     /* top-right */
    100% 100%,   /* right-bottom  */
    0 100%     /* left-bottom */
  );
  
}


.card6{
  width: 15vw;
  height: 20vh;
  border: 1px solid springgreen;
  border-radius: 4rem;
  corner-shape: square square bevel square;
}